body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 48px;
}

.container {
  min-height: 400px;
  margin: 5px;
  padding: 10px;
  border: 4px solid black;
}

.box {
  background-color: #81d07d;
  max-width: 200px;
  min-width: 100px;
  height: 200px;
  margin: 10px 0;
  padding: 10px;
  border: 2px solid black;
}
