body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 48px;
}

.container {
  min-height: 400px;
  margin: 5px;
  padding: 10px;
  border: 4px solid black;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.box {
  background-color: #81d07d;
  /* max-width: 200px; */
  min-width: 100px;
  /* width: 200px; */
  height: 200px;
  margin: 10px 0;
  padding: 10px;
  border: 2px solid black;

  flex: 1 200px;
}

.larger {
  /* flex: 10 200px; */
}
