body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

p {
  margin: 5px;
}

.outer {
  width: 400px;
  height: 400px;
  margin: 5px;
  padding: 5px;
  border: 5px solid #454545;
  border-radius: 20px;
  background-color: #8eda93;
  position: relative;
}

.inner {
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 3px solid #454545;
  border-radius: 10px;
}

.inner.positioned {
  background-color: #f9bb60;
}

.inner.unpositioned {
  background-color: #ababab;
}

.static {
  position: static;
}

.relative {
  position: relative;
  top: 50px;
  left: 100px;
  /* right: 100px; */
}

.absolute {
  position: absolute;
  top: 50px;
  left: 100px;
}

.fixed {
  position: fixed;
  /* top: 50px; */
  /* left: 100px; */
  right: 100px;
  bottom: 50px;
}
