div {
  border: 2px solid black;
}

p {
  background-color: salmon;
}

.bold-text {
  font-weight: bold;
}

.italics-text {
  font-style: italic;
}

#special-div {
  border: 10px dashed magenta;
}

p.bold-text {
  font-size: 50px;
}

#special-div .deeply-nested {
  font-family: monospace;
}

* {

}

p, div {

}
