body {
  /* font-family: serif; */
  /* font-family: sans-serif; */
  /* font-family: monospace; */
  /* font-family: cursive; */
  /* font-family: fantasy; */
  /* font-family: "Helvetica Neue", Helvetica, sans-serif; */
  font-family: 'Montserrat', sans-serif;

  /* color: magenta; */
  /* color: #c51515; */
  /* color: rgba(255, 0, 128, 0.5); */

  font-size: 20px;
  /* font-size: 2em; */
  /* font-size: 10vh; */

  font-weight: 900;
  /* font-style: italic; */
  text-decoration: underline;
}
